.aligncenter{
    display: flex;
    align-items: center;
}
.justifycenter{
    display: flex;
 justify-content: center;
}
.alignleft{
    display: flex;
    align-items: flex-start;
}
.alignright{
    display: flex;
    align-items: flex-end;
}

.tpnav{
    background-color:#000000;
    color: #FFFFFF;
    height: 05rem;
    border-bottom: 3px solid white;
}
.mtcs{
 color: white;  
 padding-left: 5rem;
}
.mtcs:hover{
 color: red;  
 padding-left: 5rem;
 text-decoration: none;
 
}
.fourcard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    height: 20rem;
    width: 22rem;

}
.black{
    background-color: #000000 !important;
}

.agentpik{
    height: 20rem;
    width: 22rem;
    padding-left: 5rem;
    
}
.formro{
    background-color: #000000;
    padding-bottom: 2rem;
    border-top: 0.2rem solid white;
 
}
.sndss{
    background-color: red
}
.lettalk{
    color: #FFFFFF;
    display: flex;
    justify-content: left;
    padding-top: 2rem;
    flex-direction: column;
}
.iconrat{
    color: blue;
}
body{
    overflow-x: hidden;
    background-color: grey
}
.pik{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
       
}
.tecf{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    padding-top: 1rem;
}
.tecff{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.crds{
    background-color: gray;
}
.paret{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    height: 20rem;
    width: 22rem;
}
.helll{
    background-image: url(../images/black\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 40rem;
}
.mrk{
    /* background-color: #FFFFFF; */
    padding-top: 10rem;
    display: flex;
    align-items: center;
    color: aqua;
    font-size: 90px;
    justify-content: center;
    font-weight: 900;
}
.bordrr{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    border-bottom: 5px solid #5692D8;
    border-right: 5px solid #5692D8;
}
.bordrr:hover{
background: linear-gradient(45deg, hwb(226 0% 0%), rgb(0, 238, 255));
  animation: gradientAnimation 5s linear infinite;    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    transform: scale(1.2);
    transition: 0.5s;
}
.parent{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
}
.parents{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    border-top: 8px solid #5692D8;
    border-left: 8px solid #5692D8;
}
.parent:hover{
    background: linear-gradient(45deg, hwb(226 0% 0%), rgb(0, 238, 255));
    animation: gradientAnimation 5s linear infinite;    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    transform: scale(1.2);
    transition: 0.5s;
}
.paret:hover{
    background: linear-gradient(45deg, hwb(226 0% 0%), rgb(0, 238, 255));
    animation: gradientAnimation 5s linear infinite;    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    transform: scale(1.2);
    transition: 0.5s;
}
.parents:hover{
    background: linear-gradient(45deg, hwb(226 0% 0%), rgb(0, 238, 255));
    animation: gradientAnimation 5s linear infinite;    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    transform: scale(1.2);
    transition: 0.5s;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btngs{
    background-color: gray;
    color: #FFFFFF;
    height: 45px;
    border-radius: 10%;
    
}
.img1{
    height: 25rem;
    width: 22rem;
}
.whdc{
    background-color: #000000;
    height: 60rem;
    border-top: 0.2rem solid white
}
.tpc{
    padding-left: 14rem;
}
.fourcard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    height: 20rem;
    width: 22rem;

}
.fourcard:hover{
    background: linear-gradient(45deg, hwb(226 0% 0%), rgb(0, 238, 255));
    animation: gradientAnimation 5s linear infinite;   
    flex-direction: column;
    color: #FFFFFF;
    transform: scale(1.2);
    transition: 0.5s;
}
.tpcr{
   padding-left: 2rem;
}
.lrtx{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 25px;
    padding-top: 2rem;
}
.newcrds{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    color: #FFFFFF;
}
.lrm{
    color: #FFFFFF;
    font-size: 20px;
    padding-left: 5rem;
    padding-right:5rem;
}
.pfc{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 2rem;
   flex-direction: column;
   border-top: 0.2rem solid white;
}
.prrs{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-weight: 900;
}
.acord{
    padding-top: 5rem;
}
.acordd{
    background-color: black;
    color: #FFFFFF;
    
}
.btngs:hover{
   background-color: aqua;
    height: 50px;
    width: 130px;
    border-radius: 10%;
}
.mrk2{
    /* background-color: #FFFFFF; */
    display: flex;
    align-items: center;
    color: aqua;
    font-size: 90px;
    justify-content: center;
    font-weight: 900;

}
.nvf{
    position: fixed;
    z-index: 1;
}
.icn2{
    display: flex;
    flex-direction: row;
}
.scpd{
    padding-right: 0.5rem;
}
.ulcl{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    padding-left: 1rem;
    padding-right: 1rem;
}
.icnd{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.ilpi{
    width: 35rem;
    height: 20rem ;
    padding-left: 8rem;
    padding-bottom: 2rem;
}
.scs{
    flex-direction: column;
    color: #FFFFFF;
    font-size: 15px;
    padding-right:10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sty{
    display: flex;
    justify-content: left;
    color: #FFFFFF;
    align-items: center;
}
.stye{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.arn{
    background-color: black;
}
.crdw{
    width: 301px;
}
.brige{
    height: 15rem;
    width: 100%;
    background-color: #FFFFFF;
}
.btnds{
    display: flex;
    align-items: center;
    justify-content: left;
}
.btnds:hover{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: left;
}
.posted{
    color: #5692D8;
    display: flex;
    justify-content: end;
    font-size: 20px;
}
.feb{
    color: #FFFFFF;
}
.wasprice{
    color: #FFFFFF;
    font-size: 14px;
}
.nowprice{
    color: #FFFFFF;
    font-size: 14px;
}
.wassqt{
    font-size: 11px;
}